
body{
    padding: 0;
    margin: 0px auto;
    min-width: 375px;
    max-width: 1440px;
    font-family: 'Poppins', sans-serif;
    background: url(../images/bg-desktop.svg);
    background-color: hsl(257, 40%, 49%);
    background-repeat: no-repeat;
    background-attachment: fixed; 
    background-size: contain; 
    background-position: center;
    object-fit: none;
    padding-left: 65px;
    padding-right: 65px;  
}

img{
  padding-top: 45px;
  width: auto;
  height:38px;
  padding-bottom:10px;
}

.cont-header{
    width: auto;
    height: 100%;
    display: flex;
  }
  
.cont-header>img{
    width: 670px;
    height: 460px;
  }
  
.txt-header{
    margin: 0 0 0 50px;
    color: #fcfcfc
  }

.txt-header h1{
  margin: 80px 0 0 0;
  color: #fcfcfc;
  font-size: 28px;
   
}

.txt-header p{
  font-family: 'Open Sans';
  color: #fcfcfc;
  font-size: 15px;
  line-height:23px;
}

.cont-header a{
  width: 150px;
  display:block; 
  margin: 5px auto;
  background: #fcfcfc;
  text-align: center;
  color: hsl(257, 44%, 52%);;
  padding: 12px 0;
  text-decoration: none;
  font-size: 13px;
  border-radius: 28px;
  position: absolute;
  box-shadow:0px 10px 10px -6px rgb(32, 31, 31);
}

.primary-footer {
  text-align: end;
}

button {
  width: 30px;
  height: 30px;
  border-radius: 55%;
  background-color: transparent;
  border: 1.4px solid white;
  color: #fff !important;
  margin-right: 8px;
  position: relative;
}
.fab.facebook {
  background: url(../images/facebook.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 15px 15px;
}

.fab.facebook:before {
  content:"";
  position: absolute;
  top: 0px;
  left: 0px;
  width: 0px;
  height: 100%;
  background: rgba(255, 255, 255, 0.1);
  transition: all 1s ease;
  border-radius: 55%;
}

.fab.facebook:hover:before {
  width: 100%;
}

.fab.twitter {
  background: url(../images/twitter.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 15px 15px;
}

.fab.twitter:before {
  content:"";
  position: absolute;
  top: 0px;
  left: 0px;
  width: 0px;
  height: 100%;
  background: rgba(255, 255, 255, 0.1);
  transition: all 1s ease;
  border-radius: 55%;
}

.fab.twitter:hover:before {
  width: 100%;
}

.fab.instagram {
  background: url(../images/instagram.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 15px 15px;
  
}

.fab.instagram:before {
  content:"";
  position: absolute;
  top: 0px;
  left: 0px;
  width: 0px;
  height: 100%;
  background: rgba(255, 255, 255, 0.1);
  transition: all 1s ease;
  border-radius: 55%;
}

.fab.instagram:hover:before {
  width: 100%;
}

@media screen and (max-device-width : 400px) and (orientation:portrait) {

        #sidebar{
	        display:none;
	        }

                #menu{
               text-align:center;
               }

              body{
                font-family: 'Poppins', sans-serif;
                background: url(../images/bg-desktop.svg);
                background-color: hsl(257, 40%, 49%);
                background-repeat: no-repeat;
                background-attachment: fixed; 
                background-size: contain; 
                padding-left: 5px;
                padding-right: 5px;
                margin-left:-10px;
                margin-right:-10px;
              }
              img{
                padding-top: 50px;
                width: auto;
                height:25px;
                padding-bottom:0px;
                margin-left: 50px;
                
              }
              .cont {
                display: table;
              }
              .cont-header{
                display: table-cell;
                vertical-align: middle;
              }
              
            .cont-header>img{
                width: 78%;
                height: 49%;
                display:block;
                margin:auto;
              }

              .txt-header{
                margin: 0;
                color: #fcfcfc;
                text-align: center;
                padding-left: 10px;
                padding-right: 10px;
              }

              .txt-header h1{
                margin: 30px 0 0 0;
                font-size: 18px;
              }

              .txt-header p{
                font-size: 13px;
                line-height:23px;
              }

              .cont-header a{
                width: 140px;
                margin: 5px auto;
                text-align: center;
                position: relative;
                margin-bottom: 15px;
              }             
              .primary-footer {
                text-align: center;
              }
            }